*
# neglect all files except .fits, .pdf, and .png
!*.py
!*.ipynb  # Add other file types you want to track if needed
!*.jpg
!*.png


# Exclude .fits, .pdf, and .png files recursively
*.fits
*.pdf
*.idlsave
*.npy
*.txt
*.sav
*.doc
*.zip
*.mp4
*.f0
*.fcube
*.pro
*.npz
**/onnutig/*
**/__pycache__/*
