# most importantly
!*.py
!*.ipynb
!*.jpg
!*.png


# Exclude .fits, .pdf, and .png files recursively
*.fits
*.pdf
*.idlsave
*.npy
*.npz
*.txt
*.sav
*.doc
*.icube
*.zip
*.mp4
*.f0
*.fcube
*.pro
**/onnutig/
__pycache__/
**/FOV/*
literature_review/*

